/Binaries
/Build
/Intermediate
/Saved
/DerivedDataCache
/Content/Developers
/Content/Collections
/.vs

# Asset packs you need to add to your repo clone
/Content/StarterContent
/Content/GTFreeMaterials

*.sdf
*.opensdf
*.sln
*.suo
*.pdb
*.exe
*-DebugGame.dll
*.log
*.target.xml